:root{
    --white: #ffffff;
    --black: #050505;
    --primary: #5CC857;
    --secondary: #4280F5;
}

$white: var(--white);
$black: var(--black);
$primary: var(--primary);
$secondary: var(--secondary);