
:root{
    --zoom: -200vw
}

.section-inner{
    &__body{
        position: relative;
    }
    &__heading{
        font-size: $display-font3;
        margin-bottom: 1rem;
    }
    &__content{
        font-size: $font-xl;
        line-height: calc($font-xl * 1.5);
        font-weight: 400;
        margin-bottom: 5vh;
    }
}

.engineer-driven, .human-centric{
    // background-color: $black;
    display: flex;
    align-items: center;
    .section-inner{
        &__body{
            width: 80%;
            display: flex;
            justify-content: space-between;

            margin: 0 auto;
        }
        &__heading{
            text-transform: uppercase;
            width: 40%;
            transform: translateY(-100%);
        }
        &__content{
            width: 40%;
        }
    }
    @media(max-width: 576px){
        .section-inner{
            &__body{
                width: 100%;
                flex-direction: column;
            }
            &__heading{
                transform: translateY(-50%);
                width: 100%;
                order: -1;
            }
            &__content{
                width: 100%;
            }
        }
    }
}

.human-centric{
    .section-inner{
        &__heading{
            width: 30%;
            transform: translateY(-100%);
            order: 2;
        }
        &__content{
            width: 40%;
            order: 1;
        }
    }
    @media(max-width: 576px){
        .section-inner{
            &__body{
                width: 100%;
                flex-direction: column;
            }
            &__heading{
                transform: translateY(-50%);
                width: 100%;
                order: -1;
            }
            &__content{
                width: 100%;
            }
        }
    }
}

// .engineer-driven{
//     .section-inner{
//         &__body{
//             text-align: right;
//             margin-left: auto;
//         }
//     }
// }

.section{
    .section-inner{
        &__content{
            h2{
                font-size: $font-xxl;
                line-height: calc($font-xxl * 1.5);
                font-weight: 400;
            }
        }
    }
}

.showreel{
    transform: translateY(-40%);
    .showreel-video{
        width: 100%;
        // height: 90vh;
    }
    .section-inner{
        &__content{
            margin-bottom: 15vh;
            width: 70%;
        }
    }

    @media(max-width: 576px){
        .section-inner{
            &__content{
                width: 100%;
                margin-bottom: 2rem;
            }
        }
    }
}

.section{
    [data-splitting]{
        span{
            position: relative;
            overflow: hidden;
            display: inline-block;
            margin-right: .5rem;
            &::after{
                position: absolute;
                left: 0;
                right: 0;
                content: attr(data-word);
                color: white;
                transform: translateY(120%);
                transition: transform 1s cubic-bezier(.82,.03,.42,.99);
                transition-delay: calc(var(--line-index) * 0.15s);
            }
        }
    }
    &.is-inview{
        [data-splitting]{
            span{
                &::after{
                    transform: translateY(0%);
                }
            }
        }
    }
}

.pineconers{
    height: 100vh;
    position: relative;
    background-color: rgba($color: #000000, $alpha: 1.0);
    

    &::before{
        content: '';
        position: absolute;
        top: -200px;
        height: 200px;
        width: 100%;
        background-image: linear-gradient(to top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
    }
    .pineconers-content{
        position: relative;
        .pineconers-scene{
            perspective: 1800px;
            perspective-origin: 50% 0%;
            width: 100%;
            height: 100vh;
            display: flex;
            align-self: center;
            justify-content: start;
            // overflow: hidden;

            .pineconers-element{
                transform-style: preserve-3d;
                position: absolute;
                width: 100%;
                height: 100%;
                left: 50%;
                top: 50%;
                transform: translateX(-50%) translateY(-50%) translateZ(0);
            }
        }
        .piny-img{
            position: absolute;
            left: 0%;
            top: 50%;
            &:nth-child(even){
                right: 0%;
                left: auto;
            }
        }
    }

    .pinecone-moto{
        position: absolute;
        opacity: 0;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        font-size: calc($display-font3 * 0.65);

        vertical-align: baseline;

        text-align: center;
        
        .mask-text{
            display: inline-block;
            margin-left: 1rem;
            overflow: hidden;
            height: calc($display-font3 * 0.65);
            vertical-align: top;
            span{
                display: block;
                color: $primary;
                font-weight: 600;
            }
        }
    }
    @media(max-width: 576px){
        .pinecone-moto{
            width: 100%;
            font-size: calc($display-font2 * 0.65);

            .mask-text{
                height: calc($display-font2 * 0.65)
            }
        }

        .pineconers-content{
            .piny-img{
                width: 400px;
            }
        }
    }
}

.careers{
    .career-list{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        gap: 20%;
        border-bottom: 1px solid rgba($color:  white, $alpha: .3);
        padding: 4rem 0;
        &__info{
            flex: 1 80%;
            &__title{
                font-size: $font-xl;
                margin-bottom: 1rem;
            }
            &__meta{
                list-style: none;
                display: flex;
                justify-content: space-between;
                margin-bottom: 2rem;
                opacity: .5;
            }
        }
        &__desc{
            p{
                margin-bottom: 2rem;
                font-size: $font-md;
                line-height: calc($font-md * 2);
            }
            .btn{
                margin-left: auto;
            }
        }
    }
    @media (min-width: 576px) {
        .career-list{
            flex-direction: row;
        }
    }
}

.contact-hero{
    margin-top: calc($navbar-height * 1.5);
    padding-bottom: $navbar-height;
    &__information{
        width: 100%;
        list-style: none;

        li{
            padding: 2rem 0;
            border-bottom: 1px solid rgba($color: white, $alpha: .3);
            p{
                font-size: $font-lg;
                margin-bottom: 1rem;
            }
            .contact-email{
                cursor: pointer;
                font-size: $font-xxl;   
            }
        }
    }

    .getintouch{
        width: 100%;
        margin-left: auto;
        margin-top: calc($navbar-height / 2);
        p{
            font-size: $font-lg;
            margin-bottom: 1rem;
        }
        h2{
            font-size: $font-xxl;
            margin-bottom: $font-xxl;
        }
        address{
            max-width: 250px;
            font-size: calc($font-lg * 0.875);
            line-height: calc($font-xl * 1);
            font-style: normal;
            color: rgba($color: white, $alpha: .7);
        }
    }

    @media (min-width: 576px) {
        .getintouch{
            width: max-content; 
        }
    }
}