
:root{
    --zoom: -200vw
}

.section-inner{
    &__body{
        position: relative;
    }
    &__heading{
        font-size: calc(100vw/25);
        margin-bottom: 1rem;
    }
    &__content{
        font-size: calc(100vw/69);
        line-height: calc(100vw/69 * 2);
        font-weight: 400;
        margin-bottom: 5vh;
    }
}

.engineer-driven, .human-centric{
    // background-color: $black;
    display: flex;
    align-items: center;
    .section-inner{
        &__body{
            width: 80%;
            display: flex;
            justify-content: space-between;

            margin: 0 auto;
        }
        &__heading{
            text-transform: uppercase;
            width: 40%;
            transform: translateY(-100%);
        }
        &__content{
            width: 40%;
        }
    }
}

.human-centric{
    .section-inner{
        &__heading{
            width: 30%;
            transform: translateY(-100%);
            order: 2;
        }
        &__content{
            width: 40%;
            order: 1;
        }
    }
}

// .engineer-driven{
//     .section-inner{
//         &__body{
//             text-align: right;
//             margin-left: auto;
//         }
//     }
// }

.showreel{
    transform: translateY(-30%);
    .showreel-video{
        width: 100%;
        // height: 90vh;
    }
    .section-inner{
        &__content{
            font-size: calc(100vw / 40);
            line-height: calc((100vw / 40) * 1.5);
            margin-bottom: 15vh;
            width: 61.8%;
        }
    }
}

.pineconers{
    height: 100vh;
    position: relative;
    background-color: rgba($color: #090909, $alpha: 1.0);

    &::before{
        content: '';
        position: absolute;
        top: -200px;
        height: 200px;
        width: 100%;
        background-image: linear-gradient(to top, rgba(9, 9, 9, 1) 0%, rgba(9, 9, 9, 0) 100%);
    }
    .pineconers-content{
        position: relative;
        .pineconers-scene{
            perspective: 1800px;
            perspective-origin: 50% 0%;
            width: 100%;
            height: 100vh;
            display: flex;
            align-self: center;
            justify-content: start;
            // overflow: hidden;

            .pineconers-element{
                transform-style: preserve-3d;
                position: absolute;
                width: 100%;
                height: 100%;
                left: 50%;
                top: 50%;
                transform: translateX(-50%) translateY(-50%) translateZ(0);
            }
        }
        .piny-img{
            position: absolute;
            left: 0%;
            top: 50%;
            &:nth-child(even){
                right: 0%;
                left: auto;
            }
        }
    }

    .pinecone-moto{
        position: absolute;
        opacity: 0;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        font-size: calc(100vw / 30);

        vertical-align: baseline;
        
        .mask-text{
            display: inline-block;
            margin-left: 1rem;
            overflow: hidden;
            height: calc(100vw / 30);
            vertical-align: top;
            span{
                display: block;
                color: $primary;
                font-weight: 600;
            }
        }
    }
}